.container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

p{
    text-align: center
}

.container-content {
    margin-top: 80px;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-areas: 
    'c i';
    ;
}

.controls-container{
    grid-area: c; 
    height: 400px;
    width: 400px;
    border: 5px solid rgb(1, 1, 1);
    display: flex;
    align-items: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

label {
    width: 300px;
    display: flex;
    flex-direction: column;
}

span {
    padding: 20px;
}

.image-container{
    grid-area: i;  
}

img {
    border: 5px solid rgb(1, 1, 1);
}

@media screen and (max-width: 1930px) and (min-width: 1201px){
    /* CSS rules for screens with a maximum width of 1200px */

}


@media screen and (max-width: 800px) and (min-width: 481px) {
  /* CSS rules for screens with a maximum width of 768px */
  .container-content {
    margin-top: 80px;
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-areas: 
    'i'
    'c';
    ;
}

form {
    padding: 5px;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

}



@media screen and (max-width: 480px) and (min-width: 321px) {
  /* CSS rules for screens with a maximum width of 480px */
  .container-content {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-areas: 
    'i'
    'c';
    ;
}

form {
    padding: 5px;
}
label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
  
}

@media screen and (max-width: 320px) {
  /* CSS rules for screens with a maximum width of 320px */
  .container-content {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-areas: 
    'i'
    'c';
    ;
}

form {
    padding: 5px;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}